- if user_signed_in?
  %p#intro
    Hello
    = current_user.name
    %br/
    %span
      Let's share your tasty recipes and see what everyone else is cooking!

- @recipe.each_slice(3) do |recipes|
  .row
    - recipes.each do |recipe|
      .col-md-4
        .recipe
          .image_wrapper
            = link_to recipe do
              = image_tag recipe.image.url(:medium)
          %h2= link_to recipe.title, recipe
          %p
            = recipe.reviews.count
            Reviews
            = recipe.get_upvotes.size
            Likes
          %h4
            By:
            =  recipe.user.name
