.main_content
  #recipe_top.row
    .col-md-4
      = image_tag @recipe.image.url(:medium), class: "recipe_image"
    .col-md-8
      #recipe_info
        %h1= @recipe.title
        %p.vote
          = link_to "Like", like_recipe_path(@recipe), method: :get
          (
          = @recipe.get_upvotes.size
          Likes )
          = link_to "Dislike", dislike_recipe_path(@recipe), method: :get
          (
          = @recipe.get_downvotes.size
          Dislikes )

        %p.description= @recipe.description
        %p
          %strong Submitted by:
          = @recipe.user.name

  .row
    .col-md-6
      #ingredients
        %h2 Ingredients
        %ul
          - @recipe.ingredients.each do |ingredient|
            %li= ingredient.name

    .col-md-6
      #directions
        %h2 Directions
        %ul
          - @recipe.directions.each do |direction|
            %li= direction.step
  .row
    .col-md-12
      =link_to "Back", root_path, class: "btn btn-s btn-default"
      -if policy(@recipe).edit?
        =link_to "Edit", edit_recipe_path, class: "btn btn-s btn-default"
      -if policy(@recipe).destroy?
        =link_to "Delete", recipe_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-s btn-default"
  .row
    .col-md-12
      #reviews
        %h2.review_count= pluralize(@recipe.reviews.count, "Review")
        - @reviews.each do |review|
          .review
            %p.username= review.user.name
            %p.content= review.content

        = render 'reviews/form'
